<a href="https://colab.research.google.com/github/klest017/CSC221_klest001/blob/main/Quiz_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Built in function 1 , print()
print("Hello, world!")

Hello, world!

In [ ]:
# Built in function 2 , len()
my_list = [2, 4, 6, 8, 10, 12, 14]
print(len(my_list))  # Output is 7

7

In [ ]:
# Built in function 3, input()
name = input("Enter your name: ")
print("Hello, " + name + "!")

Enter your name: Kayla
Hello, Kayla!

In [ ]:
# Built in function 4 , int()
num = 17
num_str = str(num)
print(num_str)  # Output is 17

17

In [ ]:
# Built in function 5 , sum()

my_list = [10, 20, 10, 10, 10]
sum_of_list = sum(my_list)
print(sum_of_list)  # The output is 60

60

In [ ]:
# Built in function 6 , zip()

numbers = [13, 21, 7]
letters = ['a', 'b', 'c']
zipped = zip(numbers, letters)
print(list(zipped))  # Output is [(13, 'a'), (21, 'b'), (7, 'c')]

[(13, 'a'), (21, 'b'), (7, 'c')]

In [ ]:
# Built in function 7 , min()
my_list = [3, 1, 4, 1, 5, 9, 2]
min_value = min(my_list)
print(min_value)  # Output is 1

In [ ]:
# Built in function 8 , abs()
num = -64
abs_num = abs(num)
print(abs_num)  # Output is 64

64

In [ ]:
# Built in function 9 , type()
num = 24
print(type(num))  # Output would be <class 'int'>

<class 'int'>

In [ ]:
# Built in function 10 , sorted()
my_list = [7, 1, 2, 2, 5, 8, 2]
sorted_list = sorted(my_list)
print(sorted_list)  #Print in order from least to greatest

[1, 2, 2, 2, 5, 7, 8]

In [ ]:
# Built in function 11 , max()
my_list = [21, 76, 32, 12, 51, 19, 22]
max_value = max(my_list)
print(max_value)  #Output is the biggest number

76

In [ ]:
# Built in function 12 , set()
my_list = [1, 2, 2, 3, 3]
my_set = set(my_list)
print(my_set)  # Output is {1, 2, 3}

{1, 2, 3}

In [ ]:
# Built in function 13 , range()
my_range = range(10)
print(list(my_range))  # Output will be numbers 1-9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Built in function 14 , any()
my_list = [False, True, False]
print(any(my_list))  # Output is true

True

In [23]:
# Built in function 15 , all()
my_list = [True, True, False]
print(all(my_list)) #Output is False

False

In [25]:
# Built in function 16, enumerate()
my_list = ['a', 'b', 'c']
for index, value in enumerate(my_list):
    print(index, value)
# Output would be
# 0 a
# 1 b
# 2 c

0 a
1 b
2 c

In [27]:
# Built in function 17, tuple()
my_list = [22, 44, 66]
my_tuple = tuple(my_list)
print(my_tuple)  # Output is (22, 44, 66)

(22, 44, 66)

In [28]:
# Built in function 18, str()
num = 19
num_str = str(num)
print(num_str)  # The out is 19

19

In [31]:
# Built in function 19, round()
num = 2.1765310
rounded_num = round(num, 3)
print(rounded_num)

2.177

In [33]:
# Built in function 20, slice()
my_list = [1, 2, 3, 4, 5]
sliced_list = slice(2, 5, 3)
print(my_list[sliced_list])

[3]